        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'congesTabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'congesTabPan' | translate}}">
                        <div class="grid">


                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'congesDateDebut' | translate}}</label>
                                            <!--  <input type="text"  id="1" [(ngModel)]="item.dateDebut"> -->
                                            <p-calendar appendTo="body" id="1"   placeholder="{{'congesDateDebut' | translate}}" [(ngModel)]="item.dateDebut"  [showIcon]="true"
                                                        [dateFormat]="'dd/mm/yy'"  >
                                             </p-calendar>
                                            
                                        </div>

                            <div class="field col-12 md:col-6">
                                <label for="2">{{'Durée' | translate}}</label>
                                <p-inputNumber class="mb-2 mr-2" id="2" placeholder="{{'Durée' | translate}}" [(ngModel)]="item.duree"  >
                                </p-inputNumber>

                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="3">{{'Année du congés' | translate}}</label>
                                <p-calendar appendTo="body" id="3"  placeholder="{{'Année de congés' | translate}}"  [(ngModel)]="item.annee"
                                            view="year" dateFormat="yy" inputId="yearpicker"  >
                                </p-calendar>

                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="5">{{'Numero autorisation' | translate}}</label>
                                <p-inputNumber class="mb-2 mr-2" id="5" placeholder="{{'Numero autorisation' | translate}}" [(ngModel)]="item.numeroAutorisation"  >
                                </p-inputNumber>

                            </div>
                                        <div class="field col-12 md:col-6">
                                            <label for="7">{{'congesJourRestantParAnnee' | translate}}</label>
                                            <p-inputNumber  appendTo="body" class="mb-2 mr-2" id="7"
                                                           placeholder="{{'congesJourRestantParAnnee' | translate}}" [(ngModel)]="item.jourRestantParAnnee"  >
                                            </p-inputNumber>
                                            
                                        </div>
                            <div class="field col-12 md:col-6">
                                <label for="8">{{'Date autorisation' | translate}}</label>
                                <!--  <input type="text"  id="1" [(ngModel)]="item.dateDebut"> -->
                                <p-calendar appendTo="body" id="8"   placeholder="{{'Date autorisation' | translate}}" [(ngModel)]="item.dateAutorisation" [showIcon]="true"
                                            [dateFormat]="'dd/mm/yy'"  >
                                </p-calendar>

                            </div>
                            <div class="field col-12 md:col-6">
                                <label for="4">{{'Employe' | translate}}</label>
                                <p-dropdown appendTo="body" [options]="employes" [(ngModel)]="item.employe" id="4"
                                            [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" optionLabel="cin"
                                            placeholder="{{'Employe' | translate}}">
                                </p-dropdown>

                            </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="grid-footer">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
